.App {
    width: 100vw;
    height: 100vh;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px darkgray solid;
    padding: 20px;
    box-shadow: grey 5px 5px 5px;
    border-radius: 10px;
}
